.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-body{
    padding: 20px;
}

.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em; /* a */
    max-height: 4em;
}