header{
    height: 45vh;
    min-height: 400px;
    background: url("../../assets/images/header.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}