.navbar-light .navbar-nav .nav-link{ 
    color: var(--primary); 
    font-weight: bold;
}

.btn-agendar{ 
    background-color: var(--secondary);
    border-radius: 8px;
}

.btn-agendar span{ 
    color: white;
}