footer {
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: var(--primary);

    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contato-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    
    padding: 25px;
}

.endereco-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-left: 20%;
    padding: 20px;
}

.redes-sociais-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.redes-sociais-section .icon{
    text-align: center;
    gap: 10px;
}

.redes-sociais-section .icon span{
    color: var(--secondary);
}

a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) {
    footer {   
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

        grid-template-rows: fit-content auto;
        height: max-content;
    }

    .contato-section{
        height: fit-content;
        padding: 10px;
    }

    .endereco-section{
        margin-left: 0;
        padding: auto;


    }

    .redes-sociais-section{
        padding: auto;
    }
}